{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="main">
    <p class="sign" align="center">Sign in</p>

<form class="form1" method="POST">
  <div class="form-group">
    <input
      class="un"
      placeholder="Enter Email ID"
      align="center"
      type="email"
      class="form-control"
      id="email"
      name="email"
    />
  </div>
  <div class="form-group">
    <input
      class="pass" 
      id="pwd"
      align="center"
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button class="submit" align="center" type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
